$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$primary:#081625;//03346d
$secondary:#888;
$orange:#f49347;
$dark_blue:#081625;//051932
