$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$primary:#1c2541;//03346d
$secondary:#888;
$orange:#f49347;
$dark_blue:#1c2541;//051932


$color-white:white;
$color-blue:#1c2541;
$color-blue--clear:rgba(24,36,67,0.95);
$color-orange:#f49347;




$header-height:90px;
